
body{
 background-image: url(pattern.png);
 background-repeat: repeat;
}

.nav{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    background: white;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color:#dddddd;
    margin:0 0 30px;
    z-index: 99;
    overflow: auto;
    padding-left: 15px;
    height: 109px;
    
}
nav a {
    line-height: 18px;
    display: inline-block;
    
}

#links{
    font-size: 20px;
    float: right;
    padding: 20px;
    margin-right: 250px;
    margin-top:20px;
}

a{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

#name {
    color: white;
    background-color: #4aaaa5;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    width: 250px;
    height: 90px;
    line-height: 90px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 2px;
}


.wrapper{
 display: block;
 width: 950px;
 margin: 0 auto;
 padding-top: 140px;
}

#about {
  color: #4aaaa5;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: block; 
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #dddddd;
  padding-bottom: 20px;
}


#me{
    float: left;
    position: relative;
    padding: 10px;
    margin: 20px;
}


#bio {
    background-color: #ffffff; 
    padding-top:140px;
    color: #777777;
    padding: 30px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    width: auto;
    
}

.footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
}

#apples {
    padding-right: 145px;

}

.container { 

max-width: 960px;
margin: 0 auto;
clear: both;

}

/* contact page */

#message{
    height: 200;   
}


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #dddddd; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  #button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  form{
      width: 880px;
    
  }
/* portfolio page */

.box{
    width: 880px;
        background-color: white;
        margin-left: 0px;
        line-height: 150%;
        padding: 0px;
        margin-top: 10px;
}


.item{
    position: relative;
    margin-bottom: 70px;
    margin-right: 50px;
    margin-top: 30px;
}

.item h2 span{
    background:#4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
    display:block; 
    position: absolute;
    width: 280px;
    height: 30px;
    padding:10px;
    top: 140px;
    
}

.column {
    float: left;
    width: 33.3%;
    margin-right: 50px;
    padding-bottom: 30px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

/*media query */

@media screen and (max-width: 980px) {

    #links{
        margin-right: 30px;
    }

}
 
@media screen and (max-width: 768px){
 
    .wrapper {
     width: 750px;
    }
    #links{
        margin-left: 50px;
        margin-right: 50px;
        margin-top:20px;
    }

    form{
        width: 600px;
    }
    
    .box{
        width: 600px;
        margin-right: 80px;
    }

    .column {
        padding-right: 20px;
        padding-left: 20px;
        width: 50%;
    }
}

@media screen and (max-width: 640px){
    .wrapper {
     width: 500px;
     padding-right: 150px;
     
    }
 
    #name{
        width: 100%;
        margin-top: 0;
        height: 50px;
        line-height: 50px;
        position: absolute;
    }

    .nav{
       padding-left: 0;
       
    }

    #links{
        line-height: 80px;
        float: none;
    }
    
    form{
        width: 400px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .box{
        width: 400px;
        margin-right: 50px;
    }

    .column{
        padding-bottom: 0px;
        margin-top: 0px;
    }

}